@import"https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap";*,*::after,*::before {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans",sans-serif
}

:focus {
    outline: none
}

::-webkit-scrollbar {
    display: none
}

body {
    background-color: #000;
    height: var(--vh);
}

a .home {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 47px;
	height: 47px;
	border-radius: 5px 5px 5px 5px;
	background-color: #0f0028;
	color: #ffffff;
	cursor: pointer;
	user-select: none;
    transition: all .2s
}

a .home:hover {
    background-color: #23003c
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 0px;
    position: relative;
    flex-direction: column;
    height: 100%;
    -webkit-filter: saturate(1.5);
    filter: saturate(1.5)
}

.container .hackBox {
    width: min(720px, 90vw);
    height: min(720px, calc(0.9 * var(--vh)));
    background-color: #0e0e0e;;
    padding: 10px 10px 30px 10px;
    border-radius: 30px;
    position: relative;
}

.container .hackBox .top-buttons {
    display: flex;
    margin-top: 10px;
}

.container .hackBox .top-buttons .hackStart {
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    border: none !important;
    background-color: #0f0028;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid;
    text-align: center;
    justify-content: space-around;
    transition: all .2s
}

.container .hackBox .top-buttons .hackStart:hover {
    background-color: #23003c
}

.container .hackBox .startinfo .levelbuttons .level {
    width: 90%;
    margin-bottom: 20px;
    margin-right: 3%;
    margin-left: 3%;
    display: flex;
    border: none ;
    background-color: #0f0028;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    justify-content: space-around;
    transition: all .2s
}

.container .hackBox .startinfo .levelbuttons .level:hover {
    background-color: #23003c
}

.container .hackBox .startinfo .levelbuttons {
    display: flex;
}

.container .hackBox .hackFunction2 .hackConfirm {
    margin-bottom: min(0.25rem, 20px);
    display: flex;
    border: none !important;
    background-color: #0f0028;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid;
    text-align: center;
    justify-content: space-around;
    transition: all .2s
}

.container .hackBox .hackStart:hover {
    background-color: #23003c
}

.container .hackBox .hackFunction2 .hackConfirm:hover {
    background-color: #23003c
}

.container .hackBox .hackInfo {
    font-size: 20px;
    display: flex;
    height: 310px;
    justify-content: space-around;
    transform: translateY(100%);
    text-align: center;
    color: #fff
}

.container .hackBox .result {
    font-size: 20px;
    display: block;
    height: 100px;
    justify-content: space-around;
    transform: translateY(100%);
    text-align: center;
    color: #fff
}

.container .hackBox .register {
    font-size: 20px;
    display: block;
    height: 100px;
    justify-content: space-around;
    transform: translateY(100%);
    text-align: center;
    color: #fff
}

.container .hackBox .hackInfo h2 {
    font-size: 13px;
    font-weight: 500
}

.container .hackBox .result h2 {
    font-size: 13px;
    font-weight: 500
}

.container .hackBox .register h2 {
    font-size: 13px;
    font-weight: 500
}

.container .hackBox .hackText {
    display: block;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    flex-direction: column;
    margin-bottom: min(1vw, 10px);
    position: relative;
    top: -35px;
    pointer-events: none;
}

.container .hackBox .hackText h2 {
    font-size: 16px;
    font-weight: 600;
}

.container .hackBox .hackText h3 {
    font-size: 14px;
    margin-top: -20px;
    color: #636363
}

.container .hackBox .hackFunction {
    color: #fff;
    font-size: min(4vw, 14px);
    max-height: min(600px, 80vh - 100px);
    overflow: auto;
    padding: 5px 15px 10px 10px;
    position: relative;
    top: -35px;
}

.container .hackBox .hackFunction .BoxButton{
    margin-bottom: min(1.5vw, 5px);
    display: flex;
    background-color: rgba(24, 3, 41, 0.2);
    -webkit-animation: background-rotate forwards linear infinite 30s;
    animation: background-rotate forwards linear infinite 30s;
    padding: min(1.5vw, 14px);
    border: 1px solid rgba(105, 105, 105, 0.5);
    text-align: center;
    justify-content: space-between;
    opacity: .5;
    border-radius: 10px;
    transition: all .2s;
}

.container .hackBox .hackFunction .BoxButton .number{
    font-weight: bold; 
    font-size: min(6vw, 18px);
    margin: 0px 7px 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .hackBox .hackFunction .BoxButton .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .hackBox .hackFunction2 {
    text-align: center;
    padding: 10px;
    color: #fff;
    border: 1px solid #383838;
    border: 1px solid #383838;
    max-width: 450px;
    margin: 10px auto 0px;
}

.container .hackBox .hackFunction2 h3 {
    margin-top: 10px;
    margin-bottom: 20px
}

.container .hackBox .hackFunction2 .progress {
    background: #222;
    border-radius: 6px;
    height: 3px;
    width: 500px;
    outline: none;
    opacity: .8;
    margin: auto;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.container .hackBox .hackFunction2 .progress::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: #10ffcd;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.container .hackBox .hackFooter {
    max-width: 720px;
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 30px;
}

.container .hackBox .hackFooter .progressBox {
    height: 4px;
    width: 100%;
    background-color: #222;
    border-radius: 5px
}

.container .hackBox .hackFooter .progressBox .progressBar {
    height: 4px;
    background-color: #10ffcd;
}

.container .hackBox .hackFunction2 textarea {
    background-color: rgba(0,0,0,0)
}

.container .hackBox .hackFunction2 input {
    width: 80%;
    background-color: rgba(0,0,0,0);
    border-width: 0 0 .2rem;
    padding: min(0.8rem, 25px) 0;
    font-size: min(5vw, 25px);
    border-color: #fff;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.container .hackBox .hackFunction2 input:focus {
    outline: none
}




.container .hackBox .register textarea {
    background-color: rgba(0,0,0,0)
}

.container .hackBox .register input {
    text-align: center;
    width: 90%;
    background-color: rgba(0,0,0,0);
    border-width: 0 0 .2rem;
    padding: 1.5rem 0;
    font-size: 2.5rem;
    border-color: #fff;
    color: #fff;
    font-weight: bold
}

.container .hackBox .register input:focus {
    outline: none
}

.container .hackBox .register .form {
    text-align: center;
    padding: 10px;
    color: #fff;
    margin: 0px 150px 0px 150px;
}

.container .hackBox .register .form .nickConfirm {
    margin-bottom: 20px;
    display: flex;
    border: none !important;
    background-color: #0f0028;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid;
    text-align: center;
    justify-content: space-around;
    transition: all .2s
}

.container .hackBox .register .form .nickConfirm:hover {
    background-color: #23003c
}

.container .info {
    margin-top: 10px;
    position: relative;
    left: -320px;
    display: block;
    background-color: #000000;
    color: #696969;
    border-radius: 5px;
    font-size: 13px;
    text-align: left;
    justify-content: space-around;
}

@-webkit-keyframes animation-left-author {
    from {
        left: -500px
    }

    to {
        left: 20px
    }
}

@keyframes animation-left-author {
    from {
        left: -500px
    }

    to {
        left: 20px
    }
}

@-webkit-keyframes animation-left-author-blur {
    0% {
        -webkit-filter: blur(3px);
        filter: blur(3px)
    }

    50% {
        -webkit-filter: blur(4px);
        filter: blur(4px)
    }

    100% {
        -webkit-filter: blur(3px);
        filter: blur(3px)
    }
}

@keyframes animation-left-author-blur {
    0% {
        -webkit-filter: blur(3px);
        filter: blur(3px)
    }

    50% {
        -webkit-filter: blur(4px);
        filter: blur(4px)
    }

    100% {
        -webkit-filter: blur(3px);
        filter: blur(3px)
    }
}